.container{
    text-align: center;
    /* display:flex ; */
    /* flex-direction: column; */
}


.button {
    display: flex;
    /* display: ; */
    width: 40px ;
    height:60px ;
    /* position: absolute; */
    text-align: center;
    margin: 20px 0px;
    border-radius: 50em;
    border-color:red ;
}

.oponent_box {
    /* position: absolute; */
    /* float:left ; */

    text-align: right;
    margin-left: auto ;
}

.oponent{
    font-style: italic;
    font-size: large;
    
}


.result{
    /* position: flex; */
    text-align: center;
    margin-left: 50px ;
}

table{
    margin:auto ;
}